<div class="container-fluid">
    <div class="row">
        <div class="col-md-2 customer-panel">
        <h4>Customer Panel</h4>

            <form class="panelForm">
                <label for="dayDisplayed">Choose a date:</label>
                <select class="form-control select-resize" ng-change="selectDay(dayDisplayed)" id="dayDisplayed"
                        name="dayDisplayed" ng-model="dayDisplayed"
                        ng-options="c for c in daysData">

                </select>
                <br/>
                <label for="tagsSelect">Choose tags:</label><br/>

                <select class="multiselect multi-select-re" id="tagIds" multiple="multiple"  id="tagsSelect" multi-select>
                    <option ng-repeat="tag in tagsList" value="{{tag}}">{{tag}}</option>
                </select>
            </form>
        </div>
        <div class="col-md-9">

        <div id="chartdiv" google-chart>


        </div>
            </div>
    </div>
</div>

