<div class="container-fluid">
    <h2>Development Document</h2>
    <h4>Overview</h4>
    <p class="lead">
       Handling with the assignment and it's details was pretty challenging, giving the amount of time, the unfamiliar area of
        web dynamic charts and the large amount of data coming from distanced resource needed to be analyzed at some point. <br/>
        With that said, I had to do some pre-coding research and design. the decisions I took at start has changed with the development but they made the
        assignment clearer.
    <p>

    <h4>Architecture and Data flow</h4>
    <p class="lead">
        The application is running on a <a hred="http://nodejs.org/">NodeJS</a> web application, and architect to be a single-page application using the capbilities of
        <a hred="https://angularjs.org/">AngularJS</a> taking care of client-side routing, data binding and dynamic events occuring in the page.
    </p>
</div>
